#!/bin/bash

# packages.yaml hash: {{ .packages | toString | sha256sum }}
# wgets hash: {{ .packages | toString | sha256sum }}

echo "#############################################"
echo ""
echo "Installing core packages with brew"
echo ""

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.core.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF


echo "#############################################"
echo ""
echo "Installing shared packages using brew"
echo ""

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.shared.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

echo "#############################################"
echo ""
echo "Installing shared packages using wget"
echo ""

{{ range .packages.shared.wgets -}}
TEMP_DIR=$(mktemp -d)
  {{ if  .tar -}}
    echo "Fetching tar {{ .name }}"
    wget {{ .url }} -O - | tar -xz -C "$TEMP_DIR"
    mv $TEMP_DIR/{{ .name }} /usr/local/bin
  {{ end -}}
  rm -rf $TEMP_DIR
{{ end -}} {{/* range .packages.shared.wgets */}}

echo "#############################################"
echo ""
echo "Installing shared packages using asdf"
echo ""

{{ range .packages.shared.asdf -}}
  echo "Adding asdf plugin"
  asdf plugin add {{ .name }} {{ .plugin }}

  echo ""
  echo "Installing latest version of {{ .name }} with asdf"
  asdf install {{ .name }} latest

  echo ""
  echo "Setting global version for {{.name }} to latest"
  asdf set -u {{ .name }} latest

{{ end -}} {{/* range .packages.shared.asdf */}}


echo "#############################################"
echo ""
echo "Installing profile-specific ({{ .profile }}) packages using brew"
echo ""

{{ range .packages.shared.npm -}}
  if ! npm list -g {{ . }} &> /dev/null; then
    echo "Installing {{ . }}"
    npm install -g {{ . }}
  else
    echo "{{ . }} already installed"
  fi
{{ end -}}


{{ if .packages.profiles -}}
{{ $profile := .profile -}}


echo "#############################################"
echo ""
echo "Installing ({{ .profile }}) profile specific packages using brew"
echo ""

brew bundle --file=/dev/stdin <<EOF
{{ range (index .packages.profiles $profile).brew -}}
brew {{ . | quote }}
{{ end -}}
EOF

echo "#############################################"
echo ""
echo "Installing ({{ .profile }}) profile specific packages using npm"
echo ""
{{ range (index .packages.profiles $profile).npm -}}
  if ! npm list -g {{ . }} &> /dev/null; then
    echo "Installing {{ . }} for {{ $profile }} profile"
    npm install -g {{ . }}
  else
    echo "{{ . }} already installed"
  fi
{{ end -}}{{/* range (index .packages.profiles $profile).npm */}}

echo "#############################################"
echo ""
echo "Installing ({{ .profile }}) profile specific packages using wget"
echo ""

{{ range (index .packages.profiles $profile).wgets -}}
TEMP_DIR=$(mktemp -d)
  {{ if  .tar -}}
    echo "Fetching tar {{ .name }}"
    wget {{ .url }} -O - | tar -xz -C "$TEMP_DIR"
    mv $TEMP_DIR/{{ .name }} /usr/local/bin
  {{ end -}}
  rm -rf $TEMP_DIR
{{ end -}} {{/* range (index .packages.profiles $profile).wgets */}}


echo "#############################################"
echo ""
echo "Installing ({{ .profile }}) profile specific packages using asdf"
echo ""
{{ range (index .packages.profiles $profile).asdf -}}
  echo "Adding asdf plugin"
  asdf plugin add {{ .name }} {{ .plugin }}
  echo "Installing latest version of {{ .name }} with asdf"
  asdf install {{ .name }} latest
  echo "Setting global version for {{.name }} to latest"
  asdf set -u {{ .name }} latest
{{ end -}} {{/* range (index .packages.profiles $profile).asdf */}}
{{ end -}}{{/* if .packages.profiles */}}
