{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $useGhostty := promptBoolOnce . "useGhostty" "Use Ghostty" -}}
{{- $choices := list "personal" "work" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile to use" $choices -}}
{{- $useStarshipPrompt := promptBoolOnce . "useStarshipPrompt" "Use starship prompt" -}}
encryption = "gpg"
[gpg]
    args = ["--quiet"]
    recipient = "32EAC9CCB3CA960E03893BA4647FB5AF905AA26D"
[data]
    email = {{ $email | quote  }}
    profile = {{ $profile | quote  }}
    choices = {{ $choices | quote }}
    useGhostty = {{ $useGhostty | quote }}
    useStarshipPrompt = {{ $useStarshipPrompt | quote }}
[edit]
    command = "code"
    args = ["--wait"]

