{{- if eq .profile "personal" }}
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by Toolbox App
export PATH="$PATH:/usr/local/bin"
{{- end }}

# Load virtualenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

# VSCode aliases
alias leetcode="code --profile leetcode ."
{{- end }}
export GPG_TTY=$(tty)
