return {
  "ruifm/gitlinker.nvim",
  dependencies = { "nvim-lua/plenary.nvim" },
  config = function()
    require("gitlinker").setup({
{{- if eq .profile "work" }}
      callbacks = {
        ["gitlab.corp.zscaler.com"] = require("gitlinker.hosts").get_gitlab_type_url,
      },
{{- end }}
      action_callback = require("gitlinker.actions").open_in_browser,
      mappings = "<leader>gy",
    })
  end,
}
