{{- if .useGhostty }}
font-size = 16
font-family = JetBrainsMono Nerd Font
theme = Catppuccin Mocha
macos-option-as-alt = true
scrollback-limit = 4294967295
keybind = cmd+right=text:\x05
keybind = cmd+left=text:\x01
keybind = alt+delete=text:\x0b
keybind = alt+delete=text:\x0b
window-inherit-font-size = true
{{- end }}
